.card {
    background-color: #ffffff;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.card img {
    display: block;
    max-width: 100%;
}

.description {
    font-size: 1rem;
    padding: 20px;
}

.title {
    font-weight: 600;
    padding-bottom: 10px;
}

.caption {
    line-height: 1.3;
    padding-bottom: 20px;
}

.tag {
    display: inline-block;
    padding: .3rem 1rem;
    color: #ffffff;
    margin-right: 5px;
    margin-bottom: 10px;
}

.js {
    background-color: #ffd900;
}

.css {
    background-color: #0083e7;
}

.html {
    background-color: #d05980;
}

.php {
    background-color: #0f7f25;
}